<footer class = "footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi congue viverra placerat. Donec sit amet tincidunt neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque eu metus porttitor, dignissim lorem vel, cursus nisl. Etiam sit amet turpis justo. Nulla at auctor neque. Sed nec semper nunc.
            </p>
        </section>
        <address>
        <h2 class="footer__title">Contato</h2>
        <ul>
            <li><i class="fa-solid fa-envelope"></i>email@email.com</li>
            <li><i class="fa-solid fa-phone"></i>(XX) XXXX-XXXX</li>
            <li><i class="fa-brands fa-square-whatsapp"></i>(00) 0000-0000</li>
        </ul>
    </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>